Repository tabler/tabler-icons, pull requests merged in 2024-06, with the labels that each got.

#1141 Add icons `align-left-2`, `align-right-2`
  icons/outline/align-left-2.svg
  icons/outline/align-right-2.svg
Labels: 🎨 icons

#1155 Add icon `binoculars`
  icons/filled/binoculars.svg
  icons/outline/binoculars.svg
Labels: 🎨 icons

#1149 Fix: Correct category in metadata of cash-register.svg
  icons/outline/cash-register.svg
Labels: 🎨 icons

#1146 Add tags to `briefcase` icon
  icons/outline/briefcase-2.svg
  icons/outline/briefcase.svg
Labels: 🎨 icons

#1153 Add icon `cliff-jumping`
  icons/outline/cliff-jumping.svg
Labels: 🎨 icons

#1154 Add icon `scuba-diving-tank`
  icons/filled/scuba-diving-tank.svg
  icons/outline/scuba-diving-tank.svg
  icons/outline/scuba-diving.svg
Labels: 🎨 icons

#1137 Add icon `building-off`
  icons/outline/building-off.svg
Labels: 🎨 icons

#1147 Add title to icon's <svg> as child tag in React, Vue.js and React Native
  packages/icons-react-native/src/createReactNativeComponent.ts
  packages/icons-react-native/src/types.ts
  packages/icons-react/src/createReactComponent.ts
  packages/icons-react/src/types.ts
  packages/icons-react/test.spec.tsx
  packages/icons-vue/src/createVueComponent.ts
  packages/icons-vue/src/types.ts
  packages/icons-vue/test.spec.js
Labels: 🔗 react package, 🔗 vue package

#1157 Add <title> to <svg> in Preact
  packages/icons-preact/src/createPreactComponent.ts
  packages/icons-preact/src/types.ts
  packages/icons-preact/test.spec.tsx
Labels: 🔗 preact package

#1159 Fix `battery-automotive` icon
  icons/outline/battery-automotive.svg
Labels: 🎨 icons

#1170 Fix typo in mood-surprised icon
  aliases.json
  icons/outline/mood-surprised.svg
Labels: 🎨 icons

#1166 Add tags to laboratory icons
  icons/outline/flask-2-off.svg
  icons/outline/flask-2.svg
  icons/outline/flask.svg
  icons/outline/microscope-off.svg
  icons/outline/microscope.svg
  icons/outline/test-pipe-2.svg
  icons/outline/test-pipe-off.svg
  icons/outline/test-pipe.svg
Labels: 🎨 icons

#1111 New icons battery-vertical, cancel, umbrella-2
  icons/outline/battery-exclamation.svg
  icons/outline/battery-vertical-1.svg
  icons/outline/battery-vertical-2.svg
  icons/outline/battery-vertical-3.svg
  icons/outline/battery-vertical-4.svg
  icons/outline/battery-vertical-charging-2.svg
  icons/outline/battery-vertical-charging.svg
  icons/outline/battery-vertical-eco.svg
  icons/outline/battery-vertical-exclamation.svg
  icons/outline/battery-vertical-off.svg
  icons/outline/battery-vertical.svg
  icons/outline/cancel.svg
  icons/outline/umbrella-2-closed.svg
  icons/outline/umbrella-2.svg
  icons/outline/umbrella-closed.svg
Labels: 🎨 icons

#1168 Remove invalid DOM properties from circle-plus.svg
  icons/filled/circle-plus.svg
Labels: 🎨 icons

#1167 Add support for Svelte 5
  packages/icons-svelte/package.json
Labels: 🔗 svelte package

#1151 Add icon `ruler-measure-2`
  icons/outline/ruler-measure-2.svg
  icons/outline/ruler-measure.svg
Labels: 🎨 icons

#1169 Change the way of exporting icons in Svelte package
  packages/icons-svelte/build.mjs
  packages/icons-svelte/package.json
  test/test-svelte/src/App.svelte
Labels: 🔗 svelte package

#1152 Add icon `rosette-discount-check-off`
  icons/outline/rosette-discount-check-off.svg
  icons/outline/rosette-discount-check.svg
Labels: 🎨 icons
