Repository tabler/tabler-icons, pull requests merged in 2024-09, with the labels that each got.

#1221 Allow treeshaking with `@tabler/icons-solidjs`
  packages/icons-solidjs/package.json
Labels: 🔗 solid package

#1220 8 new icons: `outline/arrow-down-dashed`, `outline/arrow-left-dashed`, `outline/arrow-right-dashed`, `outline/arrow-up-dashed`, `outline/arrow-narrow-down-dashed`, `outline/arrow-narrow-left-dashed`, `outline/arrow-narrow-right-dashed`, `outline/arrow-narrow-up-dashed`
  icons/outline/arrow-down-dashed.svg
  icons/outline/arrow-left-dashed.svg
  icons/outline/arrow-narrow-down-dashed.svg
  icons/outline/arrow-narrow-left-dashed.svg
  icons/outline/arrow-narrow-right-dashed.svg
  icons/outline/arrow-narrow-up-dashed.svg
  icons/outline/arrow-right-dashed.svg
  icons/outline/arrow-up-dashed.svg
Labels: 🎨 icons, 🤖 github-actions

#1228 feat: more building icons
  icons/outline/building-cog.svg
  icons/outline/building-minus.svg
  icons/outline/building-plus.svg
Labels: 🎨 icons

#1214 Add `sitemapFilled` icon
  icons/filled/sitemap.svg
  icons/outline/sitemap.svg
Labels: 🎨 icons

#1081 Generate dynamic imports for icons-react
  .build/build-icons.mjs
  .build/helpers.mjs
  package.json
  packages/icons-react/.gitignore
  packages/icons-react/build.mjs
  packages/icons-react/src/tabler-icons-react.ts
  pnpm-lock.yaml
Labels: 📦 dependencies, 🔗 react package

#1145 fix: Fixing default values for `size` and `stroke` attributes
  packages/icons-vue/src/createVueComponent.ts
Labels: 🔗 vue package
