Repository tabler/tabler-icons, pull requests merged in 2024-08, with the labels that each got.

#1179 Adds icon `stopwatch`
  icons/outline/stopwatch.svg
Labels: 🎨 icons

#1205 Add 'lightning' and 'flash' tags to bolt and bolt-off icons
  icons/outline/bolt-off.svg
  icons/outline/bolt.svg
Labels: 🎨 icons

#1199 Accept pre-release version of Svelte@5.0.0
  packages/icons-svelte/package.json
Labels: 🔗 svelte package

#1198 Remove duplicated circle-dashed-letter-letter-v icon
  aliases.json
  icons/outline/circle-dashed-letter-letter-v.svg
Labels: bug, 🎨 icons
