Repository tabler/tabler-icons, pull requests merged in 2025-07, with the labels that each got.

#1379 Fixed icon: `outline/language`, `outline/language-off`
  icons/outline/language-off.svg
  icons/outline/language.svg
Labels: 🎨 icons

#1373 Add subpath imports to `@tabler/icons-react-native`
  packages/icons-react-native/package.json
  packages/icons-react-native/rollup.config.mjs
  pnpm-lock.yaml
  test/test-react-native/.gitignore
  test/test-react-native/index.html
  test/test-react-native/package.json
  test/test-react-native/src/App.css
  test/test-react-native/src/App.tsx
  test/test-react-native/src/index.css
  test/test-react-native/src/main.tsx
  test/test-react-native/src/vite-env.d.ts
  test/test-react-native/tsconfig.json
  test/test-react-native/tsconfig.node.json
  test/test-react-native/vite.config.ts
Labels: 📦 dependencies

#1382 Improve build speed
  .build/build-icons.mjs
  .build/helpers.mjs
  .build/import-categories.mjs
  .build/import.mjs
  .build/rollup-plugins.mjs
  .build/update-icons.mjs
  package.json
  packages/icons-preact/build.mjs
  packages/icons-preact/package.json
  packages/icons-preact/rollup.config.mjs
  packages/icons-react-native/build.mjs
  packages/icons-react-native/package.json
  packages/icons-react-native/rollup.config.mjs
  packages/icons-react/build.mjs
  packages/icons-react/package.json
  packages/icons-react/rollup.config.mjs
  packages/icons-react/src/tabler-icons-react.ts
  packages/icons-react/tsconfig.json
  packages/icons-solidjs/build.js
  packages/icons-solidjs/package.json
  packages/icons-solidjs/rollup.config.js
  packages/icons-svelte/build.mjs
  packages/icons-vue/build.mjs
  packages/icons-vue/package.json
  packages/icons-vue/rollup.config.mjs
  pnpm-lock.yaml
Labels: 📦 dependencies, 🔗 react package, 🔗 preact package, 🔗 vue package, 🔗 svelte package, 🔗 solid package
